*{margin: 0;padding: 0;}
body{
    background: #f4f4f4;
}
.top,.head,.slide,.content{
    width: 1190px;
    margin: 0 auto;
}
.ttop{
    width: 100%;
    background:#e3e4e5;
}
.hhead{
    width: 100%;
    background: white;
}
button{
    outline: none;
}
.top{
    height: 30px;
    background: #e3e4e5;
    overflow: hidden;
}
.head{
    height: 141px;
    overflow: hidden;
}
.glyphicon-map-marker{
    font-size: 14px;
    color: #F10215;
}
.gps{
    width: 58px;
    height: 30px;
}
.top>.gps>a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
    width: 58px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    float: left;
}
.dl{
    width: 72px;
    height: 30px;
}
.top>.dl>a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
    width: 72px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    float: left;
}
.top>.dl>a:nth-child(1){
    margin-left: 300px;
}
.top>.dl>a:nth-child(2){
    margin-left: 3px;
    color: #F10215;
}
.top>.dl>a:nth-child(3){
    margin-left: 50px;
}
.top>.dl>a:nth-child(4){
    margin-left: 50px;
}
.top>.dl>a:nth-child(5){
    margin-left: 50px;
}
.top>.dl>a:nth-child(6){
    margin-left: 50px;
}
.logo{
    float: left;
}
.head .logo img{
    width: 190px;
    margin-top: 10px;
}
.row{
    width: 500px;
    height: 60px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
}
.row>.col-lg-6{
    width: 500px;
}
.row>.col-lg-6>.input-group>.form-control{
    border-radius: 0;
    border: 1px solid red;
}
.input-group-btn>a>.btn-default{
    border: 1px solid red;
    background: red;
    color: white;
    border-radius: 0;
}
.buy{
    float: left;
    margin-top: -61px;
    margin-left: 600px;
}
.buy>a>.buybtn{
    text-align: center;
    width: 132px;
    height: 36px;
    background: white;
    color: red;
    border: 1px solid #eeeeee;
    float: left;
    line-height: 36px;
}
.head>.nav{
    width: 750px;
    height: 60px;
    float: left;
    margin-left: 40px;
}
.head>.nav>ul>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.head>.nav>ul>a>li{
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 60px;
}
.head>.nav>ul>a>li:hover{
    color: #c81623;
}
.head>.headright{
    width: 50px;
    float: left;
    margin-top: -70px;
}


.slide{
    height: 480px;
    position: relative;
}
.slide>.float{
    margin-top: 10px;
    width:800px;
    height: 470px;
    position: absolute;
    background: rebeccapurple;
    left: 190px;
    display: none;
}
.slide>.lb{
    margin-top: 10px;
    width: 190px;
    height: 470px;
    float: left;
    background: #fefefe;
}
.slide>.lb>ul>li{
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
}
.slide>.lb>ul>li:hover{
    background: #d9d9d9;
}
.slide>.lb>ul>li:hover .float{
    display: block;
}
.icon-fenzu{
	color: #fe8301;
}
.icon-icon-test{
	color: #ffb400;
}
.icon-jiudian{
	color: #9b5f3d;
}
.icon-icon_xinyong_xianxing_jijin-{
	color: #ffb502;
}
.icon--maotouying{
	color: #ff3c02;
}
.icon-huoche{
	color: #02a8f4;
}
.icon-maikefeng{
	color: #01be94;
}
.icon-shenghuo{
	color: #00bf96;
}
.icon-meifa{
	color: #fe3f84;
}
.icon-zhuanshi{
	color: #fd4080;
}
.icon-_qinziguanxi{
	color: #fe4181;
}
.icon-yaling{
	color: #03a8f7;
}
.icon-xichenqi{
	color: #00bf96;
}
.icon-fenshijuan{
	color: #00bf96;
}
.icon-yiyaoxiang{
	color: #03a8f7;
}
.icon-gaojiaobei-{
	color: #00c094;
}
.lb>ul>li{
    list-style: none;
    height: 30px;
}
.lb>ul>li>a{
	color: black;
	font-size: 12px;
    color: #636363;
    text-decoration: none;
}
.slide>.slideimg{
    width: 590px;
    height: 470px;
    background: orange;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}
.slideimg>.item>li{
    list-style: none;
    width: 590px;
    height: 470px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.slideimg img{
    width: 590px;
}
.slideimg>.leftBtn{
    position: absolute;
    left: 0;
    top: 200px;
    display: block;
    width: 30px;
    height: 50px;
    opacity: 0.5;
}
.slideimg>.rightBtn{
    position: absolute;
    right: 0px;
    top: 200px;
    display: block;
    width: 30px;
    height: 50px;
    opacity: 0.5;
}
.slideimg>.page{
    position: absolute;
    bottom: 3px;
    left: 250px;
}
.slideimg>.page li{
    float: left;
    width: 20px;
    height: 20px;
    list-style: none;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.slide>.lb6{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.slideimg>.lb6>img{
    width: 190px;
}
.slide>.slideright{
    margin-top: 10px;
    width: 190px;
    height: 470px;
    float: right;
    background: skyblue;
}
.content{
    border: 1px #dddddd solid;
    margin-top: 10px;
    min-height: 300px;
    overflow: hidden;
}
.content>.trade{
    width: 200px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 21px;
    margin-right: 16px;
}
.content>.trade>.tradeimg{
    width: 200px;
    height: 200px;
}
.content>.trade>.tradeimg>img{
    width: 200px;
    height: 200px;
}
.content>.trade>span{
    width: 200px;
    height: 40px;
    background: skyblue;
    display: block;
    font-size: 16px;
    line-height: 40px;
}
.content>.trade>button{
    width: 200px;
    height: 60px;
    font-size: 24px;
    line-height: 40px;
    border: 1px gray solid;
}
.content>.trade>button:hover{
    border: 1px #ff0000 solid;
    color: #ff0000;
}